spring:
  application:
    name: user-service
  datasource:
    url: ${DB_URL}
    hikari:
      username: ${DB_USERNAME}
      password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  #check jwt token from clerk
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${JWT_ENDPOINT}
logging:
  level:
    org.springframework.security: DEBUG
server:
  port: 8081
CLERK_TOKEN: ${CLERK_TOKEN}
frontend_url: "http://localhost:3000"
